<phpunit beStrictAboutTestsThatDoNotTestAnything="true"
		 beStrictAboutChangesToGlobalState="true"
		 beStrictAboutOutputDuringTests="true"
		 colors="true"
		 stopOnFailure="false"
		 bootstrap="./tests/bootstrap.php"
>
	<testsuites>
		<testsuite name="ShinyCore Test Suite">
			<directory>./tests/</directory>
		</testsuite>
	</testsuites>

	<filter>
		<whitelist processUncoveredFilesFromWhitelist="true">
			<directory>./src/</directory>
		</whitelist>
	</filter>

	<php>
		<var name="DB_DSN" value="mysql:dbname=shinycore_test;host=localhost" />
		<var name="DB_USER" value="shinycore" />
		<var name="DB_PASSWD" value="" />
		<var name="DB_DBNAME" value="shinycore_test" />
	</php>
</phpunit>